# Load KVASER kernel modules for USB-modules

# USBcan rev B, USBcanII, Memorator
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/[245]/*",ACTION=="add",RUN+="/usr/sbin/usbcanII.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/[245]/*",ACTION=="remove",RUN+="/usr/sbin/usbcanII.sh stop"

# Leaf (id = 10-19, devel, light, pro, spro, pro_ls, pro_swc, spro_ls, spro_swc)
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/[a-f]/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/1[0-3]/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/120/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/121/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/122/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/123/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/124/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/[a-f]/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/1[0-3]/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/120/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/121/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/122/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/123/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/124/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"

# Memorator Pro, USBcan Pro, Leaf Light GI, BlackBird (id = 22-29)
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/1[6-9]/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/1[a-d]/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/20/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/1[6-9]/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/1[a-d]/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/20/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"

# OEM Mercury, OEM Leaf (id = 34-35)
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/2[2-3]/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/2[2-3]/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"

# OEM Key Driving, USBcan R (id = 38-39)
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/2[6-7]/*",ACTION=="add",RUN+="/usr/sbin/leaf.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/2[6-7]/*",ACTION=="remove",RUN+="/usr/sbin/leaf.sh stop"

# Minihydra devices (id = 256, 258, 260, 261-266)
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/100/*",ACTION=="add",RUN+="/usr/sbin/mhydra.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/102/*",ACTION=="add",RUN+="/usr/sbin/mhydra.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/10[4-9]/*",ACTION=="add",RUN+="/usr/sbin/mhydra.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/10a/*",ACTION=="add",RUN+="/usr/sbin/mhydra.sh start"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/100/*",ACTION=="remove",RUN+="/usr/sbin/mhydra.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/102/*",ACTION=="remove",RUN+="/usr/sbin/mhydra.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/10[4-9]/*",ACTION=="remove",RUN+="/usr/sbin/mhydra.sh stop"
SUBSYSTEM=="usb",ENV{PRODUCT}=="bfd/10a/*",ACTION=="remove",RUN+="/usr/sbin/mhydra.sh stop"
